@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
    background: linear-gradient(
        180deg,
        rgba(195, 222, 255, 0.33) 0%,
        rgba(216, 216, 216, 0) 54.69%,
        rgba(190, 220, 255, 0.22) 100%
    );
}

.bottom-background {
    background: linear-gradient(
        180deg,
        rgba(195, 222, 255, 0.33) 0%,
        rgba(216, 216, 216, 0) 76.04%,
        rgba(195, 222, 255, 0.22) 100%
    );
}

@layer base {
    body {
        @apply font-normal text-base text-body bg-whiten relative z-1;
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .chat-height {
        @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
    }
    .inbox-height {
        @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
    }
}

